 *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
 }
 body{
   
   min-height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgb(3, 112, 152) 35% , rgb(93, 2, 204) ,rgb(7, 143, 188) );
 }
 .container {
   background: transparent;
    width: 400px;
    height: 430px;
    display: flex;
    justify-content: center;
   align-content: center;
border: solid 2px;
border-radius: 40px;
padding: 30px 40px;
color: aliceblue;
backdrop-filter: blur(20px) saturate(140%);
    ;


 }
 h1{
    text-align: center;
    font-size: 34px;
    text-transform: capitalize;
    padding: 20px;


 }
  .n1{
width: 250px;
height: ;
padding: px;
border: ;

  }
  .n1 input {
    width: 250px;
    padding: 20px;
    border: none;
    border-bottom: 1px solid;
    right: unset;
    background: transparent;
    color: white;



    
  }
  input::placeholder{
    color: aliceblue;
    font-size: 17px;
    
  }
  
  .n1 input:focus{
   
    outline: none;
  }

  .n2{
    display: flex;
    justify-content:space-between ;
    font-size: ;
    margin: 13ppx 0px 15px;
    margin-right: 15px

  }
  .n2 span{
    padding-left: 25px;  }
    .n2 span a{
        color: #fff;
        text-decoration: none;

    }

.btn{
    margin-top: 35px;
    width: 250px;
    border-radius: 15px;
    padding: 5px;
    text-transform: uppercase;
    color: #fff;
    background-image: linear-gradient(to right, rgb(3, 112, 152) 35% , rgb(93, 2, 204) ,rgb(7, 143, 188) );
    font-size: 16px;
    box-shadow: 0px 0px 5px;
    border: none;

    
}


